@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {

    --bg-color: #000000;
    --second-bg-color: #13161b;
    --text-color: #fff;
    --color-a-color: rgb(233, 192, 198);
    --color-a1-color: rgb(243, 151, 151);
    
}


.dark-them {
    --primary--color: #000106;
    --secondary--color: #fff;
}

#icon 
{
    width: 30px;
    cursor: pointer;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--primary--color);
    color: var(--secondary--color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* header styling*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    position: relative;
}

.logo h2 {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -20%);
    font-size: 3rem;
    margin-left: 4rem;
    margin-top: -1rem;
}

.logo h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.logo h2:nth-child(2) {
    color: #03a9f4;
    -webkit-text-stroke: 2px #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(1% 46%, 16% 58%, 34% 64%, 53% 60%, 73% 56%, 88% 59%, 100% 65%, 100% 99%, 1% 99%);
    }

    50% {
        clip-path: polygon(0 65%, 14% 58%, 32% 55%, 49% 59%, 69% 60%, 84% 54%, 100% 43%, 100% 99%, 1% 99%);

    }
}
.navbar a {
    font-size: 1.7rem;
    color: rgb(9, 235, 243);
    margin-left: 4rem;
    transition: 1s;
    font-weight: 300;
}

navbar a:hover,
.navbar a.active {
    color: var(--color-a1-color);
}


/*menu btn*/
#menu-icon {
    font-size: 3.6rem;
    color: var(--secondary--color);
    display: none;
    margin-left: 60rem;
}



/*============== start of section area ================= */
.home {
    display: flex;
    justify-content: left;
    color: var(--primary--color);
}

.home-img img {
    width: 20vw;
    animation: floatImage 4s ease-in-out infinite;
}


@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 2.2rem;
    font-weight: 500;
    font-style: italic;
    color: var(--secondary--color);
}

.home-content h3 b {
    font-weight: 500;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 4.0rem;
    font-weight: 600;
    line-height: 1.0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f10f0f;
    font-style: italic;
}

.home-content p 
{
    font-size: 1.8rem;
    color: var(--primary--color);
    color: var(--secondary--color);
}

/*                       social media btns               */

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: .2rem solid var(--second-2-bg-color);
    border-radius: 100%;
    font-size: 5rem;
    color: rgb(19, 195, 226);
    margin: 3rem 1.5rem 3rem 0;
    transform: translate3d(0px, 0px, 0px);
    transition: .1s ease;

}

.social-media a:hover {
    background: aqua;
    color: var(--second-2-bg-color);
    box-shadow: 0 0 1rem aqua;
}

/*============download button styling===========*/
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--color-main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--color-a-color);
    font-size: 1.6rem;
    color: var(--color-a1-color);
    initial-letter: 1rem;
    font-weight: 600;
    transition: .2s ease;
}

.btn:hover {
    box-shadow: none;
}


/* =====start of the about section styling========  */
.about {
    display: flex;
    justify-content: center;
    gap: 3rem;
    background: var(--primary--color);
}

.about-img img {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    transform-style: preserve-3d;
    width: 10vw;
}


.heading {
    text-align: center;
    font-size: 3.5rem;
}


.about-content h2 {
    text-align: left;
    line-height: 1rem;
    color: aqua;
}

.about-content h2 span {
    color: #0a3ee9;
}

.about-content h3 {
    font-size: 3.6rem;
    font-style: oblique;
}

.about-content p {
    font-size: 1.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-content p span {
    color: cornflowerblue;
    font: bolder;
}

.about-content a {
    margin: 3rem 1.5rem 3rem 0;
}

/*======service section styling part=======*/
.services h2 {
    margin-bottom: 4rem;
    color: #10bad8;
}

.services h2 span {
    color: rgb(0, 89, 255);
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--bg-2-color);
    padding: 2rem 2rem 3rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .1s ease;
}


.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--bg-2-color);
}


.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


.box{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 35px;
    margin: 15px;
}
.name{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.name i{
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}
.name input{
    width: 100%;
    padding: 10px 57px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 12px;
}
.name input::placeholder{
    color: #bbb;
    font-weight: 500;
}
.email{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.email i{
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}
.email input{
    width: 100%;
    padding: 10px 57px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 12px;
}
.email input::placeholder{
    color: #bbb;
    font-weight: 500;
}
.message-box{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.message-box i{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}
.message-box textarea{
    width: 100%;
    height: 15px;
    padding: 10px 57px;
    resize: inline;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 12px;
}
.message-box textarea::placeholder{
    color: #bbb;
    font-weight: 500;
}

.button{
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
}
.button button{
    width: 20%;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #806bcd;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}
.message{
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.message .success{
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}
.message .danger{
    font-size: 20px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}
@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
















/*===============footer area====================== */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:100%;
    background: var(--second-bg-color);
}


.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1.8rem;
    background: var(--color-a-color);
    border-radius: .8rem;
    transition: .1s ease;
}


.footer-iconTop a:hover {
    box-shadow: 0 0 1rem aquamarine;
}

.footer-iconTop a i {
    font-size: 3.4rem;
    color: var(--second-bg-color);
}




/*==================breakpoints===============*/

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}
/*     message pop-up syle part       */
.contact form message {
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.contact .message .success {
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}

.contact .message .danger {
    font-size: 20px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons {
    0% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

/*         footer area        */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}


.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .1s ease;
}


.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}








/*           menu toggle part               */
@media (max-width: 769px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgb(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    /* navbar menu toggle*/
    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 5rem;
    }

    .home-img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img {
        width: 70vw;
        margin: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}